:root {
  --dark_gray: #2B2D42;
  --gray: #8D99AE;
  --light-gray: #EDF2F4;
  --red: #EF233C;
  --dark-red: #D90429; 
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: local('MyFont'), url(./assets/fonts/Montserrat-Bold.ttf);
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: local('MyFont'), url(./assets/fonts/Montserrat-Regular.ttf);
}

h1, h2{
  font-family: 'Montserrat-Bold';
}

.App {
  text-align: center;
  background-color: var(--light-gray);
  min-height: 100vh;
  font-family: 'Montserrat-Regular';
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: yellow;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
